# Final project
## Identifying the best neighborhood for opening Korean restaurant
First we import libraries and packages

In [1]:
# importing necessery libraries and packages for the project
import numpy as np
import pandas as pd

!pip install bs4
from bs4 import BeautifulSoup

!pip install requests
import requests

!pip install ibm-db
import ibm_db

from sklearn.cluster import KMeans

Requirement already satisfied: bs4 in c:\users\beket\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\beket\anaconda3\lib\site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\beket\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\beket\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\beket\anaconda3\lib\site-packages (from requests) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in c:\users\beket\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\beket\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\beket\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: ibm-db in c:\users\beket\anaconda3\lib\site-packages (3.0.3)

## Data Collection
 We will collect the data about average and mean annual income of each neighborhood from webpage by webscrapping using beautifulsoup package

In [2]:
# creating url and beautiful soup instance for further webscrapping
avg_income_url = "https://www03.cmhc-schl.gc.ca/hmip-pimh/en/TableMapChart/TableMatchingCriteria?GeographyType=MetropolitanMajorArea&GeographyId=2270&CategoryLevel1=Population%2C%20Households%20and%20Housing%20Stock&CategoryLevel2=Household%20Income&ColumnField=HouseholdIncomeRange&RowField=Neighbourhood&SearchTags%5B0%5D.Key=Households&SearchTags%5B0%5D.Value=Number&SearchTags%5B1%5D.Key=Statistics&SearchTags%5B1%5D.Value=AverageAndMedian"
avg_income_data = requests.get(avg_income_url).text
soup = BeautifulSoup(avg_income_data, 'html5lib')
tables_list = soup.find_all('table')
# identifying the number of tables in the webpage
print('There are {} table(s) in this web page'.format(len(tables_list)))

There are 1 table(s) in this web page

In [3]:
# Getting the first table html code
avg_income_table = tables_list[0]

In [4]:
# Webscrapping the table
columns = ['Neigbhorhood']
first_row = avg_income_table.find('tr')

ths = first_row.find_all('th')
for th in ths:
    col = th.find('span').text
    columns.append(col)
print(columns)

['Neigbhorhood', 'Average Household Income Before Taxes', 'Median Household Income Before Taxes', 'Average Household Income After Taxes', 'Median Household Income After Taxes']

In [5]:
#creating the income dataframe
income_df = pd.DataFrame(columns = columns)
income_df

Empty DataFrame
Columns: [Neigbhorhood, Average Household Income Before Taxes, Median Household Income Before Taxes, Average Household Income After Taxes, Median Household Income After Taxes]
Index: []

In the code below we iterating over rows of the table on the webpage to retreive the data in each cell of the table and insert it into our income dataframe

In [6]:
rows = avg_income_table.find_all('tr')
rows = rows[1:]
for row in rows:
    col = row.find_all("td")
    if (col != []):
        neighborhood = row.find('th').text
        avg_inc_before = col[0].text
        mean_inc_before = col[1].text
        avg_inc_after = col[2].text.strip()
        mean_inc_after = col[3].text.strip()
        income_df = income_df.append({"Neighborhood":neighborhood,
                                      "Average Household Income Before Taxes":avg_inc_before, 
                                      "Median Household Income Before Taxes":mean_inc_before,
                                      "Average Household Income After Taxes":avg_inc_after, 
                                      "Median Household Income After Taxes":mean_inc_after}, ignore_index=True)
income_df = income_df.dropna(axis = 1)

In [7]:
income_df = income_df[['Neighborhood', 'Average Household Income Before Taxes',
                       'Median Household Income Before Taxes', 'Average Household Income After Taxes',
                       'Median Household Income After Taxes']]
print('The size of the table: {}'.format(income_df.shape))
income_df.to_csv(r'C:\Users\Beket\Documents\GitHub\Coursera_Capstone\income_df.csv', index = False, header = True)
pd.set_option('display.max_rows', None)
print(income_df)

The size of the table: (135, 5)
                                      Neighborhood  \
0                                          Toronto
1                                Agincourt/Malvern
2                                   Ajax/Pickering
3                                        Alderwood
4                                           Aurora
5                     Banbury-Don Mills/York Mills
6                                   Bathurst Manor
7                              Bay Street Corridor
8                                  Bayview Village
9          Bayview Woods-Steeles/Hillcrest Village
10                            Bedford Park-Nortown
11                         Beechborough-Greenbrook
12                                         Bendale
13                           Birchcliffe-Cliffside
14                                     Black Creek
15         Bradford/West Gwillimbury/New Tecumseth
16                                 Brampton (East)
17                                 Brampton (West)
18                            Briar Hill-Belgravia
19                                 Broadview North
20                                          Bronte
21                             Brookhaven-Amesbury
22                Cabbagetown-South St. James Town
23                                         Caledon
24                              Caledonia-Fairbank
25                                       Casa Loma
26                    Churchill Meadows/Erin Mills
27                           Church-Yonge Corridor
28                             Clairlea-Birchmount
29                                    Clanton Park
30                             Clarkson/Lorne Park
31                                      Cliffcrest
32                                      Cooksville
33                                   Crescent Town
34                      Danforth Village-East York
35                Don Valley Village/Pleasant View
36                                     Dorset Park
37                   Dovercourt/Davenport/Junction
38                                       Downsview
39                  Dufferin Grove/Little Portugal
40                               East End-Danforth
41                      East Gwillimbury/Newmarket
42                        Edenbridge-Humber Valley
43                                   Eglinton East
44                                Elms-Old Rexdale
45                             Englemount-Lawrence
46                  Eringate-Centennial-West Deane
47                             Etobicoke West Mall
48                                 Flemingdon Park
49                               Forest Hill North
50                               Forest Hill South
51                                        Georgina
52                                       Guildwood
53                                      Henry Farm
54                        High Park North/Junction
55                               High Park-Swansea
56                        Humber Heights-Westmount
57                              Humewood-Cedarvale
58                                         Ionview
59                     Islington/City Centre North
60                     Islington/City Centre South
61                        Keelesdale-Eglinton West
62                                    Kennedy Park
63                            Kensington-Chinatown
64                   Kingsview Village-The Westway
65                                  Kingsway South
66                              Lambton Baby Point
67                     L'Amoreaux/Steeles/Milliken
68                                Lansing-Westgate
69                             Lawrence Park North
70                             Lawrence Park South
71                              Leaside-Bennington
72                  Little Italy/Trinity-Bellwoods
73                                     Long Branch
74                                          Malton
75                                      Maple Leaf
76                                         Markham
77                                      Meadowvale
78                             Milton/Halton Hills
79                                          Mimico
80                 Mississauga Centre/Streetsville
81                                      Moore Park
82                                     Morningside
83                           Moss Park/Regent Park
84                                    Mount Dennis
85   Mount Olive-Silverstone-Jamestown/Thistletown
86                             Mount Pleasant East
87                             Mount Pleasant West
88                                     New Toronto
89                            North St. James Town
90                                        Oakridge
91                         Oakville (excl. Bronte)
92                                 Oakwood-Vaughan
93                               O'Connor-Parkview
94                                   Old East York
95                                Orangeville/Mono
96                               Parkwoods-Donalda
97                        Playter Estates-Danforth
98                                     Port Credit
99                              Princess-Rosethorn
100                                Rexdale-Kipling
101                     Richmond Hill/Vaughan/King
102                                      Riverdale
103                              Rockcliffe-Smythe
104                                   Roncesvalles
105                                       Rosedale
106                                          Rouge
107                    Rustic/Pelmo Park/Humberlea
108                            Scarborough Village
109                       South Parkdale/King West
110                          St. Andrew-Windfields
111                            Stonegate-Queensway
112                         Tam O'Shanter-Sullivan
113                                    The Beaches
114                               Thorncliffe Park
115                               University/Annex
116                                       Uxbridge
117                               Victoria Village
118             Waterfront Communities -The Island
119                                      West Hill
120                         West Humber-Clairville
121                            Westminster-Branson
122                                         Weston
123                               Wexford-Maryvale
124                         Whitchurch/Stouffville
125               Willowdale East/Newtonbrook East
126               Willowdale West/Newtonbrook West
127               Willowridge-Martingrove-Richview
128                                         Woburn
129            Woodbine Corridor/Greenwood-Coxwell
130                               Woodbine-Lumsden
131                                       Wychwood
132                                 Yonge-Eglinton
133                                Yonge-St. Clair
134                             Yorkdale-Glen Park

    Average Household Income Before Taxes  \
0                                 109,480
1                                  80,147
2                                 115,659
3                                 102,434
4                                 147,604
5                                 245,866
6                                  95,977
7                                  85,657
8                                  96,616
9                                  96,267
10                                252,266
11                                 62,740
12                                 71,591
13                                103,715
14                                 63,139
15                                101,517
16                                 99,581
17                                 98,329
18                                 71,541
19                                 74,786
20                                136,796
21                                 67,742
22                                 97,459
23                                137,519
24                                 76,713
25                                285,999
26                                118,999
27                                 77,235
28                                 80,331
29                                101,821
30                                143,461
31                                 94,658
32                                 89,098
33                                 57,135
34                                100,060
35                                 82,627
36                                 68,617
37                                 80,325
38                                 69,508
39                                 79,651
40                                 98,165
41                                118,812
42                                203,189
43                                 64,507
44                                 71,345
45                                 93,525
46                                103,931
47                                 98,961
48                                 59,208
49                                159,724
50                                473,219
51                                 92,688
52                                106,787
53                                 70,357
54                                102,853
55                                125,669
56                                 91,737
57                                112,354
58                                 63,825
59                                 98,226
60                                102,170
61                                 70,938
62                                 63,615
63                                 67,445
64                                 79,031
65                                294,913
66                                136,905
67                                 77,309
68                                142,669
69                                222,786
70                                344,703
71                                249,071
72                                108,013
73                                 83,336
74                                 72,040
75                                 83,171
76                                113,087
77                                112,325
78                                123,347
79                                 88,814
80                                 93,974
81                                285,789
82                                 67,711
83                                 77,062
84                                 61,174
85                                 68,002
86                                151,193
87                                 83,447
88                                 75,834
89                                 52,296
90                                 51,045
91                                174,675
92                                 78,464
93                                 85,231
94                                104,275
95                                104,966
96                                 86,221
97                                115,745
98                                124,834
99                                227,300
100                                73,761
101                               128,414
102                               108,435
103                                66,875
104                                89,367
105                               423,428
106                               117,829
107                                73,165
108                                67,599
109                                86,381
110                               222,478
111                               124,012
112                                74,551
113                               166,462
114                                56,502
115                               165,206
116                               124,982
117                                66,525
118                               104,994
119                                70,253
120                                81,133
121                                68,984
122                                60,230
123                                76,778
124                               130,938
125                                87,345
126                                79,752
127                                92,341
128                                70,455
129                                93,052
130                                89,697
131                               101,895
132                               150,401
133                               175,692
134                                82,802

    Median Household Income Before Taxes Average Household Income After Taxes  \
0                                 78,378                               87,993
1                                 68,108                               71,025
2                                 98,363                               94,805
3                                 83,249                               84,163
4                                106,761                              113,594
5                                 90,620                              168,106
6                                 69,634                               79,185
7                                 48,737                               65,786
8                                 67,355                               76,983
9                                 74,082                               79,794
10                               116,672                              175,773
11                                45,211                               54,624
12                                60,292                               62,300
13                                73,216                               82,242
14                                51,999                               57,082
15                                89,301                               84,617
16                                87,156                               86,211
17                                87,335                               84,188
18                                60,899                               62,405
19                                52,731                               62,096
20                               104,867                              105,737
21                                52,988                               59,434
22                                61,184                               75,976
23                               113,664                              109,042
24                                66,048                               66,697
25                                93,022                              199,378
26                                96,578                               97,453
27                                56,366                               62,037
28                                68,524                               69,513
29                                69,997                               83,263
30                                91,601                              109,484
31                                75,291                               77,040
32                                65,001                               74,358
33                                46,669                               50,794
34                                81,253                               81,962
35                                65,714                               70,731
36                                57,986                               60,703
37                                65,167                               68,435
38                                56,053                               61,524
39                                63,479                               66,579
40                                69,026                               78,737
41                                98,005                               96,057
42                                84,113                              144,418
43                                53,081                               57,703
44                                59,576                               63,156
45                                58,003                               77,541
46                                88,872                               86,744
47                                72,429                               80,527
48                                48,917                               52,914
49                                70,920                              117,830
50                               119,484                              327,638
51                                81,554                               77,888
52                                87,538                               87,898
53                                56,644                               59,852
54                                73,547                               82,111
55                                82,753                               96,836
56                                68,996                               76,669
57                                61,110                               86,327
58                                53,177                               56,645
59                                69,274                               79,046
60                                80,395                               82,589
61                                57,780                               62,023
62                                51,028                               56,354
63                                44,216                               56,342
64                                60,824                               67,766
65                               151,552                              198,998
66                                93,586                              105,023
67                                62,871                               68,190
68                                80,384                              108,226
69                               144,963                              157,696
70                               151,885                              227,374
71                               126,930                              169,558
72                                71,812                               86,265
73                                61,536                               68,551
74                                61,297                               64,824
75                                62,976                               71,623
76                                89,111                               92,943
77                                98,166                               93,460
78                               105,381                               99,605
79                                67,525                               71,772
80                                78,436                               79,692
81                                97,762                              185,166
82                                52,721                               60,082
83                                49,252                               61,365
84                                52,162                               54,492
85                                57,414                               61,230
86                                93,566                              113,252
87                                61,839                               66,491
88                                50,891                               63,969
89                                41,016                               45,679
90                                39,757                               46,194
91                               115,337                              129,237

<b>In the code below we accessing the infromation about the Business Improvement areas of Toronto from OpenData Toronto portal through their API</b>

In [8]:
url = "https://ckan0.cf.opendata.inter.prod-toronto.ca/api/3/action/package_show"
params = { "id": "9edb9628-1213-42bd-8352-5c4ed28e9e42"}
package = requests.get(url, params = params).json()
print(package["result"])
 
# Get the data by passing the resource_id to the datastore_search endpoint
# See https://docs.ckan.org/en/latest/maintaining/datastore.html for detailed parameters options
# For example, to retrieve the data content for the first resource in the datastore:
 
for idx, resource in enumerate(package["result"]["resources"]):
    if resource["datastore_active"]:
        url = "https://ckan0.cf.opendata.inter.prod-toronto.ca/api/3/action/datastore_search"
        p = { "id": resource["id"] }
        data = requests.get(url, params = p).json()
        bia_df = pd.DataFrame(data["result"]["records"])
        break
bia_df

{'license_title': 'Open Government Licence – Toronto', 'owner_unit': None, 'relationships_as_object': [], 'topics': 'Business,Locations and mapping', 'owner_email': 'opendata@toronto.ca', 'excerpt': 'Boundaries for the active Business Improvement Areas within the City of Toronto.', 'private': False, 'owner_division': 'Economic Development & Culture', 'num_tags': 8, 'id': '9edb9628-1213-42bd-8352-5c4ed28e9e42', 'metadata_created': '2019-07-23T16:45:34.043754', 'refresh_rate': 'Weekly', 'title': 'Business Improvement Areas', 'license_url': 'https://open.toronto.ca/open-data-license/', 'state': 'active', 'information_url': None, 'license_id': 'open-government-licence-toronto', 'type': 'dataset', 'resources': [{'cache_last_updated': None, 'package_id': '9edb9628-1213-42bd-8352-5c4ed28e9e42', 'datastore_active': True, 'id': 'd173e644-ace0-45e0-be43-8ba02fb116eb', 'size': None, 'format': 'GeoJSON', 'state': 'active', 'hash': '', 'description': '', 'is_preview': True, 'last_modified': '2021-04-05T10:10:07.000288', 'url_type': 'datastore', 'mimetype': None, 'cache_url': None, 'extract_job': 'B1_BusiImproveAreas', 'name': 'Business Improvement Areas Data', 'created': '2019-07-23T16:45:35.825540', 'url': 'https://ckan0.cf.opendata.inter.prod-toronto.ca/datastore/dump/d173e644-ace0-45e0-be43-8ba02fb116eb', 'mimetype_inner': None, 'position': 0, 'revision_id': 'e85188ba-dec0-4eef-852b-99f42fdabf16', 'resource_type': None}], 'limitations': None, 'num_resources': 1, 'collection_method': None, 'tags': [{'vocabulary_id': None, 'state': 'active', 'display_name': 'bia', 'id': '42bdd6a8-aed3-4727-9870-e3bc693ec36e', 'name': 'bia'}, {'vocabulary_id': None, 'state': 'active', 'display_name': 'business improvement area', 'id': 'ef56fe57-0a0f-4eba-8e42-ddd506737aad', 'name': 'business improvement area'}], 'is_retired': False, 'groups': [], 'creator_user_id': '150d5301-86ec-44a3-a070-50f2cea839c9', 'dataset_category': 'Map', 'relationships_as_subject': [], 'name': 'business-improvement-areas', 'metadata_modified': '2021-04-05T10:10:08.006670', 'isopen': False, 'url': None, 'notes': 'A Business Improvement Area (BIA) is an association of commercial property\r\nowners and tenants within a defined area who work in partnership with the City\r\nto create thriving, competitive, and safe business areas that attract\r\nshoppers, diners, tourists, and new businesses.  The BIA layer represents the\r\nactive BIAs in the City of Toronto that has been enacted by Council.  Each BIA\r\nhas been defined by a by-law and is represented by a Board of Management.  The\r\nlayer is updated as BIAs are created, amended or deleted by Council. This file\r\nis a polygon file and is best utilized with the Toronto Street Centreline\r\nDataset.\r\n\r\n', 'owner_org': '95a064ae-77e8-4ef0-a4e3-4e2d43e1f066', 'last_refreshed': '2021-04-05T10:10:07.000288', 'image_url': None, 'formats': 'SHP,CSV,GEOJSON,GPKG', 'owner_section': None, 'organization': {'description': '', 'created': '2019-07-23T15:51:35.236542', 'title': 'City of Toronto', 'name': 'city-of-toronto', 'is_organization': True, 'state': 'active', 'image_url': '', 'revision_id': '62817a72-3dc5-450a-8cc4-fef2c51660da', 'type': 'organization', 'id': '95a064ae-77e8-4ef0-a4e3-4e2d43e1f066', 'approval_status': 'approved'}, 'revision_id': '80803fc8-336f-4e1c-81d4-95910f1a76c5', 'civic_issues': None}

,_id,AREA_ID,DATE_EFFECTIVE,AREA_ATTR_ID,PARENT_AREA_ID,AREA_SHORT_CODE,AREA_LONG_CODE,AREA_NAME,AREA_DESC,X,Y,LONGITUDE,LATITUDE,OBJECTID,Shape__Area,Shape__Length,geometry
0,7252,2482435,2020-12-16T20:42:00,26007418,None,009-01,009-01,Riverside District,Riverside District,None,None,None,None,17577025,1.588315e+05,3143.628503,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3459..."
1,7253,2482434,2020-12-16T20:42:00,26007417,None,041-03,041-03,Regal Heights Village,Regal Heights Village,None,None,None,None,17577041,1.309747e+05,2639.776967,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4324..."
2,7254,2482433,2020-12-16T20:42:00,26007416,None,084-00,084-00,Queen Street West,Queen Street West,None,None,None,None,17577057,2.793838e+05,4602.998896,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3874..."
3,7255,2482432,2020-12-16T20:42:00,26007415,None,006-00,006-00,Parkdale Village,Parkdale Village,None,None,None,None,17577073,2.754278e+05,4980.837329,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4457..."
4,7256,2482431,2020-12-16T20:42:00,26007414,None,024-00,024-00,Pape Village,Pape Village,None,None,None,None,17577089,9.499389e+04,2015.592108,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3484..."
5,7257,2482430,2020-12-16T20:42:00,26007413,None,049-03,049-03,Little Portugal On Dundas,Little Portugal On Dundas,None,None,None,None,17577105,3.822274e+05,7628.898987,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4377..."
6,7258,2482429,2020-12-16T20:42:00,26007412,None,020-01,020-01,Little Italy,Little Italy,None,None,None,None,17577121,2.323416e+05,3917.542802,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4205..."
7,7259,2482428,2020-12-16T20:42:00,26007411,None,042-01,042-01,Liberty Village,Liberty Village,None,None,None,None,17577137,7.972921e+05,4400.913504,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4246..."
8,7260,2482427,2020-12-16T20:42:00,26007410,None,093-01,093-01,Leslieville,Leslieville,None,None,None,None,17577153,3.513029e+05,6457.749078,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3240..."
9,7261,2482426,2020-12-16T20:42:00,26007409,None,094-03,094-03,Lawrence Ingram Keele,Lawrence Ingram Keele,None,None,None,None,17577169,2.108682e+06,7158.573022,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4790..."
10,7262,2482425,2020-12-16T20:42:00,26007408,None,063-02,063-02,Bayview Leaside,Bayview Leaside,None,None,None,None,17577185,1.202543e+05,2229.791116,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3761..."
11,7263,2482424,2020-12-16T20:42:00,26007407,None,033-00,033-00,Kennedy Road,Kennedy Road,None,None,None,None,17577201,1.630342e+06,12749.776683,"{""type"": ""Polygon"", ""coordinates"": [[[-79.2846..."
12,7264,2482423,2020-12-16T20:42:00,26007406,None,031-02,031-02,Bloor-Yorkville,Bloor-Yorkville,None,None,None,None,17577217,9.180465e+05,6613.691633,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3872..."
13,7265,2482422,2020-12-16T20:42:00,26007405,None,002-00,002-00,Lakeshore Village,Lakeshore Village,None,None,None,None,17577233,1.719640e+05,3336.398221,"{""type"": ""Polygon"", ""coordinates"": [[[-79.5076..."
14,7266,2482421,2020-12-16T20:42:00,26007404,None,057-00,057-00,Korea Town,Korea Town,None,None,None,None,17577249,3.056623e+05,4200.147939,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4218..."
15,7267,2482420,2020-12-16T20:42:00,26007403,None,079-01,079-01,Kensington Market,Kensington Market,None,None,None,None,17577265,4.156670e+05,3627.334744,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4060..."
16,7268,2482470,2020-12-16T20:42:00,26007453,None,087-00,087-00,Ossington Avenue,Ossington Avenue,None,None,None,None,17577281,1.031610e+05,2219.681000,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4200..."
17,7269,2482419,2020-12-16T20:42:00,26007402,None,070-00,070-00,Historic Queen East,Historic Queen East,None,None,None,None,17577297,3.539412e+05,7437.822435,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3641..."
18,7270,2482418,2020-12-16T20:42:00,26007401,None,014-00,014-00,Hillcrest Village,Hillcrest Village,None,None,None,None,17577313,1.179753e+05,2029.136313,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4324..."
19,7271,2482417,2020-12-16T20:42:00,26007400,None,021-00,021-00,Harbord Street,Harbord Street,None,None,None,None,17577329,5.455134e+04,1691.557634,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4041..."
20,7272,2482416,2020-12-16T20:42:00,26007399,None,025-00,025-00,Greektown on the Danforth,Greektown on the Danforth,None,None,None,None,17577345,2.461029e+05,4473.189462,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3528..."
21,7273,2482469,2020-12-16T20:42:00,26007452,None,082-00,082-00,Oakwood Village,Oakwood Village,None,None,None,None,17577361,1.594477e+05,3608.674062,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4405..."
22,7274,2482468,2020-12-16T20:42:00,26007451,None,081-00,081-00,Mount Pleasant Village,Mount Pleasant Village,None,None,None,None,17577377,2.494817e+05,4067.178059,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3896..."
23,7275,2482467,2020-12-16T20:42:00,26007450,None,036-04,036-04,Mount Dennis,Mount Dennis,None,None,None,None,17577393,1.707920e+05,3373.466660,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4916..."
24,7276,2482415,2020-12-16T20:42:00,26007398,None,011-02,011-02,Gerrard India Bazaar,Gerrard India Bazaar,None,None,None,None,17577409,9.383413e+04,1940.878824,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3210..."
25,7277,2482414,2020-12-16T20:42:00,26007397,None,007-03,007-03,Forest Hill Village,Forest Hill Village,None,None,None,None,17577425,8.934446e+04,2230.822451,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4139..."
26,7278,2482413,2020-12-16T20:42:00,26007396,None,091-00,091-00,Financial District,Financial District,None,None,None,None,17577441,1.074967e+06,6500.988018,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3784..."
27,7279,2482412,2020-12-16T20:42:00,26007395,None,010-02,010-02,Fairbank Village,Fairbank Village,None,None,None,None,17577457,1.925842e+05,3168.983200,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4512..."
28,7280,2482466,2020-12-16T20:42:00,26007449,None,061-00,061-00,Mirvish Village,Mirvish Village,None,None,None,None,17577473,1.024474e+05,1917.680164,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4125..."
29,7281,2482465,2020-12-16T20:42:00,26007448,None,037-02,037-02,Mimico Village,Mimico Village,None,None,None,None,17577489,9.894854e+04,2830.571423,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4994..."
30,7282,2482464,2020-12-16T20:42:00,26007447,None,022-03,022-03,Mimico By The Lake,Mimico By The Lake,None,None,None,None,17577505,4.569793e+05,6461.469139,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4821..."
31,7283,2482463,2020-12-16T20:42:00,26007446,None,107-00,107-00,Midtown Yonge,Midtown Yonge,None,None,None,None,17577521,2.882925e+05,3924.473366,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3962..."
32,7284,2482411,2020-12-16T20:42:00,26007394,None,046-08,046-08,Emery Village,Emery Village,None,None,None,None,17577537,1.863314e+07,33380.712739,"{""type"": ""Polygon"", ""coordinates"": [[[-79.5677..."
33,7285,2482410,2020-12-16T20:42:00,26007393,None,066-00,066-00,Eglinton Hill,Eglinton Hill,None,None,None,None,17577553,8.634973e+04,2133.668614,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4753..."
34,7286,2482409,2020-12-16T20:42:00,26007392,None,086-03,086-03,Dupont by the Castle,Dupont by the Castle,None,None,None,None,17577569,7.756085e+05,6898.748767,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4073..."
35,7287,2482408,2020-12-16T20:42:00,26007391,None,043-00,043-00,Church-Wellesley Village,Church-Wellesely Village,None,None,None,None,17577585,1.545828e+05,2525.405467,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3826..."
36,7288,2482407,2020-12-16T20:42:00,26007390,None,095-02,095-02,DuKe Heights,DuKe Heights,None,None,None,None,17577601,1.383987e+07,17064.096906,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4699..."
37,7289,2482406,2020-12-16T20:42:00,26007389,None,039-00,039-00,Downtown Yonge,Downtown Yonge,None,None,None,None,17577617,9.565997e+05,5485.894765,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3779..."
38,7290,2482405,2020-12-16T20:42:00,26007388,None,017-00,017-00,Dovercourt Village,Dovercourt Village,None,None,None,None,17577633,2.800361e+05,3581.804905,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4324..."
39,7291,2482404,2020-12-16T20:42:00,26007387,None,054-00,054-00,Danforth Village,Danforth Village,None,None,None,None,17577649,4.847999e+05,5309.114591,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3051..."
40,7292,2482462,2020-12-16T20:42:00,26007445,None,105-00,105-00,MarkeTO District,MarkeTO District,None,None,None,None,17577665,3.975212e+05,5178.089200,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4546..."
41,7293,2482461,2020-12-16T20:42:00,26007444,None,029-00,029-00,Long Branch,Long Branch,None,None,None,None,17577681,1.815862e+05,3560.141501,"{""type"": ""Polygon"", ""coordinates"": [[[-79.5290..."
42,7294,2482460,2020-12-16T20:42:00,26007443,None,051-09,051-09,shoptheQueensway.com,shoptheQueensway.com,None,None,None,None,17577697,1.240648e+06,14129.751685,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4902..."
43,7295,2482459,2020-12-16T20:42:00,26007442,None,010-02,010-02,York-Eglinton,York-Eglinton,None,None,None,None,17577713,2.777241e+05,3819.020980,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4511..."
44,7296,2482403,2020-12-16T20:42:00,26007386,None,075-00,075-00,Danforth Mosaic,Danforth Mosaic,None,None,None,None,17577729,6.160749e+05,10368.743172,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3051..."
45,7297,2482402,2020-12-16T20:42:00,26007385,None,102-01,102-01,College West,College West,None,None,None,None,17577745,1.655220e+05,3889.050904,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4411..."
46,7298,2482401,2020-12-16T20:42:00,26007384,None,080-00,080-00,Crossroads of the Danforth,Crossroads of the Danforth,None,None,None,None,17577761,3.363927e+05,5664.737903,"{""type"": ""Polygon"", ""coordinates"": [[[-79.2885..."
47,7299,2482458,2020-12-16T20:42:00,26007441,None,040-00,040-00,Yonge Lawrence Village,Yonge Lawrence Village,None,None,None,None,17577777,2.882414e+05,4945.668312,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4030..."
48,7300,2482457,2020-12-16T20:42:00,26007440,None,118-00,118-00,Yonge & St. Clair,Yonge & St. Clair,None,None,None,None,17577793,4.185564e+05,5372.132074,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3942..."
49,7301,2482456,2020-12-16T20:42:00,26007439,None,044-00,044-00,Wychwood Heights,Wychwood Heights,None,None,None,None,17577809,2.049108e+05,3432.840350,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4262..."
50,7302,2482400,2020-12-16T20:42:00,26007383,None,016-00,016-00,Corso Italia,Corso Italia,None,None,None,None,17577825,1.644824e+05,2978.901441,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4417..."
51,7303,2482399,2020-12-16T20:42:00,26007382,None,059-00,059-00,College Promenade,College Promenade,None,None,None,None,17577841,1.211422e+05,2553.921411,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4203..."
52,7304,2482398,2020-12-16T20:42:00,26007381,None,109-01,109-01,CityPlace and Fort York,CityPlace and Fort York,None,None,None,None,17577857,1.192955e+06,5327.234526,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4103..."
53,7305,2482397,2020-12-16T20:42:00,26007380,None,065-00,065-00,Chinatown,Chinatown,None,None,None,None,17577873,2.932214e+05,4749.595430,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4006..."
54,7306,2482455,2020-12-16T20:42:00,26007438,None,101-01,101-01,Wilson Village,Wilson Village,None,None,None,None,17577889,3.087114e+06,20668.578670,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4724..."
55,7307,2482454,2020-12-16T20:42:00,26007437,None,122-00,122-00,Willowdale,Willowdale,None,None,None,None,17577905,2.520483e+06,10562.120759,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4124..."
56,7308,2482453,2020-12-16T20:42:00,26007436,None,052-00,052-00,Wexford Heights,Wexford Heights,None,None,None,None,17577921,7.056938e+05,7797.218552,"{""type"": ""Polygon"", ""coordinates"": [[[-79.2833..."
57,7309,2482452,2020-12-16T20:42:00,26007435,None,004-00,004-00,Weston Village,Weston Village,None,None,None,None,17577937,5.524009e+05,4636.836259,"{""type"": ""Polygon"", ""coordinates"": [[[-79.5208..."
58,7310,2482396,2020-12-16T20:42:00,26007379,None,012-02,012-02,Cabbagetown,Cabbagetown,None,None,None,None,17577953,3.156133e+05,5933.750217,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[-7..."
59,7311,2482395,2020-12-16T20:42:00,26007378,None,027-00,027-00,Broadview Danforth,Broadview Danforth,None,None,None,None,17577969,1.940808e+05,3085.887431,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3528..."
60,7312,2482451,2020-12-16T20:42:00,26007434,None,055-00,055-00,West Queen West,West Queen West,None,None,None,None,17577985,5.720283e+05,7122.770227,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4038..."
61,7313,2482450,2020-12-16T20:42:00,26007433,None,026-01,026-01,Village of Islington,Village of Islington,None,None,None,None,17578001,6.619859e+05,7141.265616,"{""type"": ""Polygon"", ""coordinates"": [[[-79.5256..."
62,7314,2482394,2020-12-16T20:42:00,26007377,None,005-00,005-00,Bloordale Village,Bloordale Village,None,None,None,None,17578017,2.260733e+05,3449.494064,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4354..."
63,7315,2482393,2020-12-16T20:42:00,26007376,None,001-01,001-01,Junction Gardens,Junction Gardens,None,None,None,None,17578033,2.376314e+05,4131.523729,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4637..."
64,7316,2482392,2020-12-16T20:42:00,26007375,None,023-00,023-00,Bloor West Village,Bloor West Village,None,None,None,None,17578049,2.555125e+05,3988.078938,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4862..."
65,7317,2482391,2020-12-16T20:42:00,26007374,None,008-00,008-00,Bloorcourt Village,Bloorcourt Village,None,None,None,None,17578065,1.956410e+05,3904.437461,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4209..."
66,7318,2482390,2020-12-16T20:42:00,26007373,None,030-00,030-00,Bloor By The Park,Bloor By The Park,None,None,None,None,17578081,2.304737e+05,2935.391016,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4588..."
67,7319,2482449,2020-12-16T20:42:00,26007432,None,060-01,060-01,Uptown Yonge,Uptown Yonge,None,None,None,None,17578097,2.814023e+05,5319.099965,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3984..."
68,7320,2482448,2020-12-16T20:42:00,26007431,None,015-00,015-00,Upper Village,Upper Village,None,None,None,None,17578113,1.543725e+05,2713.107927,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4348..."
69,7321,2482447,2020-12-16T20:42:00,26007430,None,076-01,076-01,Trinity-Bellwoods,Trinity-Bellwoods,None,None,None,None,17578129,1.112809e+05,2837.752082,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4060..."
70,7322,2482389,2020-12-16T20:42:00,26007372,None,062-01,062-01,Albion Islington Square,Albion Islington Square,None,None,None,None,17578145,3.126040e+05,3979.632937,"{""type"": ""Polygon"", ""coordinates"": [[[-79.5652..."
71,7323,2482388,2020-12-16T20:42:00,26007371,None,085-02,085-02,Baby Point Gates,Baby Point Gates,None,None,None,None,17578161,1.505034e+05,2820.261946,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4886..."
72,7324,2482387,2020-12-16T20:42:00,26007370,None,064-00,064-00,Bloor Street,Bloor Street,None,None,None,None,17578177,3.659230e+05,4757.401630,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3948..."
73,7325,2482386,2020-12-16T20:42:00,26007369,None,034-00,034-00,Bloor Annex,Bloor Annex,None,None,None,None,17578193,1.211910e+05,2789.754952,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4104..."
74,7326,2482446,2020-12-16T20:42:00,26007429,None,074-06,074-06,Toronto Entertainment District,Toronto Entertainment District,None,None,None,None,17578209,1.904680e+06,8527.068569,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[-7..."
75,7327,2482445,2020-12-16T20:42:00,26007428,None,058-10,058-10,The Waterfront,The Waterfront,None,None,None,None,17578225,7.165337e+06,56800.354211,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[-7..."
76,7328,2482444,2020-12-16T20:42:00,26007427,None,003-00,003-00,The Kingsway,The Kingsway,None,None,None,None,17578241,1.651969e+05,3139.239867,"{""type"": ""Polygon"", ""coordinates"": [[[-79.5175..."
77,7329,2482443,2020-12-16T20:42:00,26007426,None,028-00,028-00,The Eglinton Way,The Eglinton Way,None,None,None,None,17578257,2.135147e+05,3526.324588,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4131..."
78,7330,2482442,2020-12-16T20:42:00,26007425,None,053-00,053-00,The Beach,The Beach,None,None,None,None,17578273,7.739175e+05,11499.895275,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3095..."
79,7331,2482441,2020-12-16T20:42:00,26007424,None,018-05,018-05,St. Lawrence Market Neighbourhood,St. Lawrence Market Neighbourhood,None,None,None,None,17578289,1.945659e+06,6346.842185,"{""type"": ""Polygon"", ""coordinates"": [[[-79.3641..."
80,7332,2482440,2020-12-16T20:42:00,26007423,None,019-02,019-02,St. Clair Gardens,St. Clair Gardens,None,None,None,None,17578305,1.812003e+05,3917.623662,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4527..."
81,7333,2482439,2020-12-16T20:42:00,26007422,None,067-00,067-00,Sheppard East Village,Sheppard East Village,None,None,None,None,17578321,1.629484e+06,14463.247614,"{""type"": ""Polygon"", ""coordinates"": [[[-79.2789..."
82,7334,2482438,2020-12-16T20:42:00,26007421,None,038-03,038-03,Rosedale Main Street,Rosedale Main Street,None,None,None,None,17578337,2.275580e+05,4852.934742,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[-7..."
83,7335,2482437,2020-12-16T20:42:00,26007420,None,032-02,032-02,Roncesvalles Village,Roncesvalles Village,None,None,None,None,17578353,3.498806e+05,6494.412293,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4457..."
84,7336,2482436,2020-12-16T20:42:00,26007419,None,115-00,115-00,Rogers Road,Rogers Road,None,None,None,None,17578369,3.510939e+05,5936.862796,"{""type"": ""Polygon"", ""coordinates"": [[[-79.4662..."

<b>Here we collecting data about the neighborhoods by webscrapping Wikipedia page</b>

In [9]:

neighborhood_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
neighborhood_data = requests.get(neighborhood_url).text
soup = BeautifulSoup(neighborhood_data, 'html5lib')
tables_list = soup.find_all('table')

print("There are {} tables in the webpage".format(len(tables_list)))

There are 3 tables in the webpage

In [10]:
for ind,table in enumerate(tables_list):
    if ("M1A" in str(table)):
        table_ind = ind
print("The table we want is of index {}".format(table_ind))
neigh_table = tables_list[0]

The table we want is of index 0

In [11]:
# Creating an empty list to store the data
table_contents = []

#Iterating through the each table cell that is inside the <td> tag
for row in neigh_table.find_all("td"):
    # Creating an empty cell dict
    cell = {}
    
    # Checking the condition of cell containing "Not assigned"
    if row.span.text == 'Not assigned':
        pass
    else:
        cell['PostalCode'] = row.p.text[0:3] # Getting the PostalCode value, which is the first 3 char values in each cell
        cell['Borough'] = row.span.text.split('(')[0] # Getting Borough data 
        #Getting the Neighborhood data
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ') 
        
        #Adding the cell values into the list
        table_contents.append(cell)
        
# Transforming the list into the dataframe 
neigh_df=pd.DataFrame(table_contents)

# Make adjustments
neigh_df['Borough']=neigh_df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})

print("Shape of table is {}".format(neigh_df.shape))
pd.set_option('display.max_rows', None)
print(neigh_df)

Shape of table is (103, 3)
    PostalCode                 Borough  \
0          M3A              North York
1          M4A              North York
2          M5A        Downtown Toronto
3          M6A              North York
4          M7A            Queen's Park
5          M9A               Etobicoke
6          M1B             Scarborough
7          M3B              North York
8          M4B               East York
9          M5B        Downtown Toronto
10         M6B              North York
11         M9B               Etobicoke
12         M1C             Scarborough
13         M3C              North York
14         M4C               East York
15         M5C        Downtown Toronto
16         M6C                    York
17         M9C               Etobicoke
18         M1E             Scarborough
19         M4E            East Toronto
20         M5E        Downtown Toronto
21         M6E                    York
22         M1G             Scarborough
23         M4G               East York
24         M5G        Downtown Toronto
25         M6G        Downtown Toronto
26         M1H             Scarborough
27         M2H              North York
28         M3H              North York
29         M4H               East York
30         M5H        Downtown Toronto
31         M6H            West Toronto
32         M1J             Scarborough
33         M2J              North York
34         M3J              North York
35         M4J  East York/East Toronto
36         M5J        Downtown Toronto
37         M6J            West Toronto
38         M1K             Scarborough
39         M2K              North York
40         M3K              North York
41         M4K            East Toronto
42         M5K        Downtown Toronto
43         M6K            West Toronto
44         M1L             Scarborough
45         M2L              North York
46         M3L              North York
47         M4L            East Toronto
48         M5L        Downtown Toronto
49         M6L              North York
50         M9L              North York
51         M1M             Scarborough
52         M2M              North York
53         M3M              North York
54         M4M            East Toronto
55         M5M              North York
56         M6M                    York
57         M9M              North York
58         M1N             Scarborough
59         M2N              North York
60         M3N              North York
61         M4N         Central Toronto
62         M5N         Central Toronto
63         M6N                    York
64         M9N                    York
65         M1P             Scarborough
66         M2P              North York
67         M4P         Central Toronto
68         M5P         Central Toronto
69         M6P            West Toronto
70         M9P               Etobicoke
71         M1R             Scarborough
72         M2R              North York
73         M4R         Central Toronto
74         M5R         Central Toronto
75         M6R            West Toronto
76         M7R             Mississauga
77         M9R               Etobicoke
78         M1S             Scarborough
79         M4S         Central Toronto
80         M5S        Downtown Toronto
81         M6S            West Toronto
82         M1T             Scarborough
83         M4T         Central Toronto
84         M5T        Downtown Toronto
85         M1V             Scarborough
86         M4V         Central Toronto
87         M5V        Downtown Toronto
88         M8V               Etobicoke
89         M9V               Etobicoke
90         M1W             Scarborough
91         M4W        Downtown Toronto
92         M5W  Downtown Toronto Stn A
93         M8W               Etobicoke
94         M9W     Etobicoke Northwest
95         M1X             Scarborough
96         M4X        Downtown Toronto
97         M5X        Downtown Toronto
98         M8X               Etobicoke
99         M4Y        Downtown Toronto
100        M7Y   East Toronto Business
101        M8Y               Etobicoke
102        M8Z               Etobicoke

                                          Neighborhood
0                                            Parkwoods
1                                     Victoria Village
2                            Regent Park, Harbourfront
3                     Lawrence Manor, Lawrence Heights
4                        Ontario Provincial Government
5                                     Islington Avenue
6                                       Malvern, Rouge
7                                      Don Mills North
8                      Parkview Hill, Woodbine Gardens
9                             Garden District, Ryerson
10                                           Glencairn
11   West Deane Park, Princess Gardens, Martin Grov...
12              Rouge Hill, Port Union, Highland Creek
13                                     Don Mills South
14                                    Woodbine Heights
15                                      St. James Town
16                                  Humewood-Cedarvale
17   Eringate, Bloordale Gardens, Old Burnhamthorpe...
18                   Guildwood, Morningside, West Hill
19                                         The Beaches
20                                         Berczy Park
21                                 Caledonia-Fairbanks
22                                              Woburn
23                                             Leaside
24                                  Central Bay Street
25                                            Christie
26                                           Cedarbrae
27                                   Hillcrest Village
28     Bathurst Manor, Wilson Heights, Downsview North
29                                    Thorncliffe Park
30                            Richmond, Adelaide, King
31                        Dufferin, Dovercourt Village
32                                 Scarborough Village
33                        Fairview, Henry Farm, Oriole
34                     Northwood Park, York University
35                                  The Danforth  East
36   Harbourfront East, Union Station, Toronto Islands
37                            Little Portugal, Trinity
38         Kennedy Park, Ionview, East Birchmount Park
39                                     Bayview Village
40                                      Downsview East
41                        The Danforth West, Riverdale
42            Toronto Dominion Centre, Design Exchange
43        Brockton, Parkdale Village, Exhibition Place
44                     Golden Mile, Clairlea, Oakridge
45                            York Mills, Silver Hills
46                                      Downsview West
47                      India Bazaar, The Beaches West
48                      Commerce Court, Victoria Hotel
49            North Park, Maple Leaf Park, Upwood Park
50                                       Humber Summit
51     Cliffside, Cliffcrest, Scarborough Village West
52                             Willowdale, Newtonbrook
53                                   Downsview Central
54                                     Studio District
55                   Bedford Park, Lawrence Manor East
56    Del Ray, Mount Dennis, Keelsdale and Silverthorn
57                                    Humberlea, Emery
58                         Birch Cliff, Cliffside West
59                                    Willowdale South
60                                 Downsview Northwest
61                                       Lawrence Park
62                                            Roselawn
63                       Runnymede, The Junction North
64                                              Weston
65   Dorset Park, Wexford Heights, Scarborough Town...
66                                     York Mills West
67                                    Davisville North
68                            Forest Hill North & West
69                       High Park, The Junction South
70                                           Westmount
71                                   Wexford, Maryvale
72                                     Willowdale West
73                                  North Toronto West
74                 The Annex, North Midtown, Yorkville
75                              Parkdale, Roncesvalles
76                                      Enclave of L4W
77   Kingsview Village, St. Phillips, Martin Grove ...
78                                           Agincourt
79                                          Davisville
80                      University of Toronto, Harbord
81                                  Runnymede, Swansea
82             Clarks Corners, Tam O'Shanter, Sullivan
83                         Moore Park, Summerhill East
84           Kensington Market, Chinatown, Grange Park
85   Milliken, Agincourt North, Steeles East, L'Amo...
86   Summerhill West, Rathnelly, South Hill, Forest...
87   CN Tower, King and Spadina, Railway Lands, Har...
88        New Toronto, Mimico South, Humber Bay Shores
89   South Steeles, Silverstone, Humbergate, Jamest...
90                       Steeles West, L'Amoreaux West
91                                            Rosedale
92                                      Enclave of M5E
93                              Alderwood, Long Branch
94   Clairville, Humberwood, Woodbine Downs, West H...
95                                         Upper Rouge
96                         St. James Town, Cabbagetown
97              First Canadian Place, Underground city
98       The Kingsway, Montgomery Road, Old Mill North
99                                Church and Wellesley
100                                     Enclave of M4L
101  Old Mill South, King's Mill Park, Sunnylea, Hu...
102  Mimico NW, The Queensway West, South of Bloor,...

### Part 2: Getting the geo data for each Neighborhood

In [12]:
#installing the package
!pip install pgeocode
import pgeocode

Requirement already satisfied: pgeocode in c:\users\beket\anaconda3\lib\site-packages (0.3.0)
Requirement already satisfied: numpy in c:\users\beket\anaconda3\lib\site-packages (from pgeocode) (1.18.5)
Requirement already satisfied: requests in c:\users\beket\anaconda3\lib\site-packages (from pgeocode) (2.24.0)
Requirement already satisfied: pandas in c:\users\beket\anaconda3\lib\site-packages (from pgeocode) (1.0.5)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\beket\anaconda3\lib\site-packages (from requests->pgeocode) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\beket\anaconda3\lib\site-packages (from requests->pgeocode) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in c:\users\beket\anaconda3\lib\site-packages (from requests->pgeocode) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\beket\anaconda3\lib\site-packages (from requests->pgeocode) (3.0.4)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\beket\anaconda3\lib\site-packages (from pandas->pgeocode) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\beket\anaconda3\lib\site-packages (from pandas->pgeocode) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\beket\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->pgeocode) (1.15.0)

<b>Identifying the latitude and longitude values of each neighborhood address using the geolocator and storing the values in the respective variables</b>

In [13]:
postalCodes = neigh_df['PostalCode'].tolist() # Converting postal codes to the list

geolocator = pgeocode.Nominatim('ca')# Define the geolocator

latitudes = [] # Creating the list for latitude data
longitudes = [] # Creating the list for longitude data

for i, postalCode in enumerate(postalCodes): # Iterating through the postal codes to get their latitude and longitude
    
    # Getting the specific location
    g = geolocator.query_postal_code(postalCode)
    
    # Get latitude and longitude
    if not g.empty:
        latitudes.append(g.latitude)
        longitudes.append(g.longitude)
    else:
        latitudes.append("Not found")
        longitudes.append("Not found")

In [14]:
# Inserting the latitude and longitude data into the neighborhoods dataframe
neigh_df['Latitude'] = latitudes
neigh_df['Longitude'] = longitudes
neigh_df.head(5)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.7545,-79.3300
1,M4A,North York,Victoria Village,43.7276,-79.3148
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.6555,-79.3626
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.7223,-79.4504
4,M7A,Queen's Park,Ontario Provincial Government,43.6641,-79.3889

## Data preparation 
<b>In this part of the project we simplifying our dataframes by dropping unnecessery columns and data</b>

In [15]:
# Dropping none columns
bia_df.drop(['PARENT_AREA_ID', '_id','AREA_DESC','X', 'Y', 'LONGITUDE', 'OBJECTID','LATITUDE', 'AREA_ATTR_ID','DATE_EFFECTIVE','AREA_LONG_CODE','Shape__Area','Shape__Length', 'geometry'], axis = 1, inplace = True)
bia_df.to_csv(r'C:\Users\Beket\Documents\GitHub\Coursera_Capstone\bia_df.csv', index = False, header = True)
bia_df.head()

   AREA_ID AREA_SHORT_CODE              AREA_NAME
0  2482435          009-01     Riverside District
1  2482434          041-03  Regal Heights Village
2  2482433          084-00      Queen Street West
3  2482432          006-00       Parkdale Village
4  2482431          024-00           Pape Village

In [16]:
# Dropping the 76th row because there is a nan value there
neigh_df.drop(76, inplace=True)
neigh_df.reset_index(inplace=True)
print("The shape of the dataframe is {}".format(neigh_df.shape))

The shape of the dataframe is (102, 6)

In [17]:
# Merging the income and neighborhood dataframes to work with it later
merged_df = income_df.merge(neigh_df, left_on = 'Neighborhood', right_on = 'Neighborhood')
merged_df.head()

,Neighborhood,Average Household Income Before Taxes,Median Household Income Before Taxes,Average Household Income After Taxes,Median Household Income After Taxes,index,PostalCode,Borough,Latitude,Longitude
0,Bayview Village,"96,616","67,355","76,983","58,341",39,M2K,North York,43.7797,-79.3813
1,Humewood-Cedarvale,"112,354","61,110","86,327","54,557",16,M6C,York,43.6915,-79.4307
2,Rosedale,"423,428","114,625","275,010","92,347",91,M4W,Downtown Toronto,43.6827,-79.3730
3,Scarborough Village,"67,599","49,568","58,858","46,658",32,M1J,Scarborough,43.7464,-79.2323
4,The Beaches,"166,462","100,365","121,388","82,713",19,M4E,East Toronto,43.6784,-79.2941

In [18]:
neigh_df.shape

(102, 6)

In [19]:
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

## Foursquare API
<b> In this part of the project we use foursquare API in order to access to the data about the number of restaurants and store it in our merged dataframe</b>

In [20]:
# Foursquare client credentials
CLIENT_ID = 'G1ZNGFWYJGBC3NBIMUUXMNKXK03CKMQJO44AWAAWQQAJZ41J' # your Foursquare ID
CLIENT_SECRET = '550RG0M2CN4D5DDSJLEAWRQBCVU0FQBYFK4HLLXN4IAZD44O' # your Foursquare Secret
ACCESS_TOKEN = '0F0MVWAHOCRIWNT1TULUPPHBSV5QDIKRZCRULT2HCORXMRZP' # your FourSquare Access Token
VERSION = '20210403'
LIMIT = 100
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: G1ZNGFWYJGBC3NBIMUUXMNKXK03CKMQJO44AWAAWQQAJZ41J
CLIENT_SECRET:550RG0M2CN4D5DDSJLEAWRQBCVU0FQBYFK4HLLXN4IAZD44O

<b>In order to get the number of restaurants in radius of 500 meters we make empty list and iterate over the rows in our merged dataframe to get the latitude and longitude data of each neighborhood and then using those values, using explore reguest for Foursquare API we get the number of restaurants in each neighborhood and store them in the list

In [21]:
ns_restaurants = [] # empty list
for i in range(9):
    category_id = '4d4b7105d754a06374d81259'
    radius = 500
    latitude = merged_df.loc[i, 'Latitude']
    longitude = merged_df.loc[i, 'Longitude']
    LIMIT = 100
    url = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={},{}&oauth_token={}&v={}&categoryid={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude,ACCESS_TOKEN, VERSION, category_id, radius, LIMIT)
    results = requests.get(url).json()
    ns_restaurants.append(len(results['response']['groups'][0]['items']))
    
ns_restaurants

[5, 10, 4, 5, 15, 50, 8, 4, 3]

<b> We insert the data about the number of restaurants to the new column in our dataframe

In [22]:
merged_df['Number_of_Restaurants'] = ns_restaurants

<b> Explore dataframe

In [23]:
merged_df

,Neighborhood,Average Household Income Before Taxes,Median Household Income Before Taxes,Average Household Income After Taxes,Median Household Income After Taxes,index,PostalCode,Borough,Latitude,Longitude,Number_of_Restaurants
0,Bayview Village,"96,616","67,355","76,983","58,341",39,M2K,North York,43.7797,-79.3813,5
1,Humewood-Cedarvale,"112,354","61,110","86,327","54,557",16,M6C,York,43.6915,-79.4307,10
2,Rosedale,"423,428","114,625","275,010","92,347",91,M4W,Downtown Toronto,43.6827,-79.3730,4
3,Scarborough Village,"67,599","49,568","58,858","46,658",32,M1J,Scarborough,43.7464,-79.2323,5
4,The Beaches,"166,462","100,365","121,388","82,713",19,M4E,East Toronto,43.6784,-79.2941,15
5,Thorncliffe Park,"56,502","46,595","50,262","43,628",29,M4H,East York,43.7059,-79.3464,50
6,Victoria Village,"66,525","51,867","57,242","46,841",1,M4A,North York,43.7276,-79.3148,8
7,Weston,"60,230","45,696","52,849","42,405",64,M9N,York,43.7068,-79.5170,4
8,Woburn,"70,455","58,921","62,213","53,645",22,M1G,Scarborough,43.7712,-79.2144,3

# Modelling our clustering model
<b> For this project I will use the K Means clustering model because it is most suitable model for this kind of business problem

## Preprocessing
<b> In this part we preprocess our dataframe in order to be able to cluster it </b>

In the code below we saving our string values and dropping them from the dataframe

In [24]:
indexes = merged_df['index']
neighborhoods = merged_df['Neighborhood']
latitudes = merged_df['Latitude']
longitudes = merged_df['Longitude']
merged_df.drop(['Neighborhood', 'PostalCode', 'Borough', 'index', 'Latitude', 'Longitude'], axis = 1, inplace = True)
x_df = merged_df
x_df

,Average Household Income Before Taxes,Median Household Income Before Taxes,Average Household Income After Taxes,Median Household Income After Taxes,Number_of_Restaurants
0,"96,616","67,355","76,983","58,341",5
1,"112,354","61,110","86,327","54,557",10
2,"423,428","114,625","275,010","92,347",4
3,"67,599","49,568","58,858","46,658",5
4,"166,462","100,365","121,388","82,713",15
5,"56,502","46,595","50,262","43,628",50
6,"66,525","51,867","57,242","46,841",8
7,"60,230","45,696","52,849","42,405",4
8,"70,455","58,921","62,213","53,645",3

<b> Because our values in the columns of average and mean annual income are string we need to format them into float to be able to work with them in our cluster model

In [25]:
float_list = []
for item in x_df['Average Household Income Before Taxes'].items():
    float_list.append(float(item[1].replace(',', '.')))
float_list1 = []
for item in x_df['Median Household Income Before Taxes'].items():
    float_list1.append(float(item[1].replace(',', '.')))
float_list2 = []
for item in x_df['Average Household Income After Taxes'].items():
    float_list2.append(float(item[1].replace(',', '.')))
float_list3 = []
for item in x_df['Median Household Income After Taxes'].items():
    float_list3.append(float(item[1].replace(',', '.')))
x_df['Average Household Income Before Taxes'] = float_list
x_df['Median Household Income Before Taxes'] = float_list1
x_df['Average Household Income After Taxes'] = float_list2
x_df['Median Household Income After Taxes'] = float_list3
x_df

,Average Household Income Before Taxes,Median Household Income Before Taxes,Average Household Income After Taxes,Median Household Income After Taxes,Number_of_Restaurants
0,96.616,67.355,76.983,58.341,5
1,112.354,61.110,86.327,54.557,10
2,423.428,114.625,275.010,92.347,4
3,67.599,49.568,58.858,46.658,5
4,166.462,100.365,121.388,82.713,15
5,56.502,46.595,50.262,43.628,50
6,66.525,51.867,57.242,46.841,8
7,60.230,45.696,52.849,42.405,4
8,70.455,58.921,62.213,53.645,3

<b> Here we normalizing the float values in our dataframe in order to cluster model to properly work with them

In [26]:
from sklearn.preprocessing import StandardScaler
X = x_df.values[:,1:]
X = np.nan_to_num(X)
Clus_dataSet = StandardScaler().fit_transform(X)
Clus_dataSet

array([[ 0.04816388, -0.24392037,  0.02610052, -0.46637766],
       [-0.22004687, -0.10558724, -0.19984741, -0.11066589],
       [ 2.07831956,  2.68776773,  2.0566463 , -0.53752002],
       [-0.71575359, -0.51225169, -0.67150774, -0.46637766],
       [ 1.46587996,  0.41347287,  1.4813867 ,  0.24504589],
       [-0.84343823, -0.63951106, -0.85243328,  2.73502832],
       [-0.61701596, -0.53617574, -0.66058056, -0.2529506 ],
       [-0.88204855, -0.60121185, -0.92546032, -0.53752002],
       [-0.31406021, -0.46258264, -0.25430421, -0.60866237]])

<b> Here we are setting up our K Means clusterring model

In [27]:
clusterNum = 3
k_means = KMeans(init = "k-means++", n_clusters = clusterNum, n_init = 12)
k_means.fit(X)
labels = k_means.labels_
print(labels)

[0 0 1 0 2 0 0 0 0]

<b>We get our clustered labels for each neighborhood. We are observing the mean of the values of each cluster

In [28]:
x_df['cluster_label'] = labels
x_df.groupby('cluster_label').mean()

,Average Household Income Before Taxes,Median Household Income Before Taxes,Average Household Income After Taxes,Median Household Income After Taxes,Number_of_Restaurants
cluster_label,,,,,
0,75.754429,54.444571,63.533429,49.439286,12.142857
1,423.428000,114.625000,275.010000,92.347000,4.000000
2,166.462000,100.365000,121.388000,82.713000,15.000000

<b> We inserting our labels into dataframe and changing labels for more understandable ones

In [29]:
merged_df['cluster_label'] = labels

In [30]:
merged_df.loc[(merged_df.cluster_label == 0), ['cluster_label']] = 'good'
merged_df.loc[(merged_df.cluster_label == 1), ['cluster_label']] = 'great'
merged_df.loc[(merged_df.cluster_label == 2), ['cluster_label']] = 'bad'
merged_df

,Average Household Income Before Taxes,Median Household Income Before Taxes,Average Household Income After Taxes,Median Household Income After Taxes,Number_of_Restaurants,cluster_label
0,96.616,67.355,76.983,58.341,5,good
1,112.354,61.110,86.327,54.557,10,good
2,423.428,114.625,275.010,92.347,4,great
3,67.599,49.568,58.858,46.658,5,good
4,166.462,100.365,121.388,82.713,15,bad
5,56.502,46.595,50.262,43.628,50,good
6,66.525,51.867,57.242,46.841,8,good
7,60.230,45.696,52.849,42.405,4,good
8,70.455,58.921,62.213,53.645,3,good

<b> returning the saved and dropped columns back to our dataframe

In [31]:
merged_df['neigbhorhood_index'] = indexes
merged_df['Neighborhood'] = neighborhoods
merged_df['Latitude'] = latitudes 
merged_df['Longitude'] = longitudes
merged_df

,Average Household Income Before Taxes,Median Household Income Before Taxes,Average Household Income After Taxes,Median Household Income After Taxes,Number_of_Restaurants,cluster_label,neigbhorhood_index,Neighborhood,Latitude,Longitude
0,96.616,67.355,76.983,58.341,5,good,39,Bayview Village,43.7797,-79.3813
1,112.354,61.110,86.327,54.557,10,good,16,Humewood-Cedarvale,43.6915,-79.4307
2,423.428,114.625,275.010,92.347,4,great,91,Rosedale,43.6827,-79.3730
3,67.599,49.568,58.858,46.658,5,good,32,Scarborough Village,43.7464,-79.2323
4,166.462,100.365,121.388,82.713,15,bad,19,The Beaches,43.6784,-79.2941
5,56.502,46.595,50.262,43.628,50,good,29,Thorncliffe Park,43.7059,-79.3464
6,66.525,51.867,57.242,46.841,8,good,1,Victoria Village,43.7276,-79.3148
7,60.230,45.696,52.849,42.405,4,good,64,Weston,43.7068,-79.5170
8,70.455,58.921,62.213,53.645,3,good,22,Woburn,43.7712,-79.2144

<b> Rearring the order of columns of a dataframe for appropriate view

In [32]:
cols = list(merged_df.columns.values)
cols

['Average Household Income Before Taxes',
 'Median Household Income Before Taxes',
 'Average Household Income After Taxes',
 'Median Household Income After Taxes',
 'Number_of_Restaurants',
 'cluster_label',
 'neigbhorhood_index',
 'Neighborhood',
 'Latitude',
 'Longitude']

In [33]:
cols = ['neigbhorhood_index', 'Neighborhood','Average Household Income Before Taxes',
 'Median Household Income Before Taxes',
 'Average Household Income After Taxes',
 'Median Household Income After Taxes',
 'Number_of_Restaurants',
 'Latitude',
 'Longitude', 'cluster_label']
merged_df = merged_df[cols]
merged_df

,neigbhorhood_index,Neighborhood,Average Household Income Before Taxes,Median Household Income Before Taxes,Average Household Income After Taxes,Median Household Income After Taxes,Number_of_Restaurants,Latitude,Longitude,cluster_label
0,39,Bayview Village,96.616,67.355,76.983,58.341,5,43.7797,-79.3813,good
1,16,Humewood-Cedarvale,112.354,61.110,86.327,54.557,10,43.6915,-79.4307,good
2,91,Rosedale,423.428,114.625,275.010,92.347,4,43.6827,-79.3730,great
3,32,Scarborough Village,67.599,49.568,58.858,46.658,5,43.7464,-79.2323,good
4,19,The Beaches,166.462,100.365,121.388,82.713,15,43.6784,-79.2941,bad
5,29,Thorncliffe Park,56.502,46.595,50.262,43.628,50,43.7059,-79.3464,good
6,1,Victoria Village,66.525,51.867,57.242,46.841,8,43.7276,-79.3148,good
7,64,Weston,60.230,45.696,52.849,42.405,4,43.7068,-79.5170,good
8,22,Woburn,70.455,58.921,62.213,53.645,3,43.7712,-79.2144,good

<b>From the clustering our dataframe we see that the best neighborhood for opening Korean Restaurant is Rosedale, because there are 4 restaurants in neighborhood and the highest annual income in comparison to other neighborhoods